body, html, p {
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    margin: 50px 30px;
}

#chosen {
    text-transform: capitalize;
}

#answers li {
    text-decoration: underline;
    width: fit-content;
    cursor: pointer;
    margin-bottom: 10px;
    text-transform: capitalize;
}

#note, #final {
    font-weight: 600;
    color: #d32323;
    font-style: italic;
    margin: 50px 0;
}

#final {
    color: #000;
}

#final span {
    color: #3cd495;
}

.btns {
    margin: 30px 0;
}

.btn {
    border: 0;
    background-color: #02c9a1;
    padding: 6px 14px;
    border-radius: 3px;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    margin-right: 30px;
}

.btn__top{
    background-color: #e44141;
}

#edit-form {
    width: fit-content;
    min-width: 510px;
}

.form-input {
    margin: 20px 0;
}


.form-input textarea, .form-input input, .form-input select {
    padding: 3px 8px;
    width: 300px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    resize: none;
}

.form-input label {
    width: 200px;
    display: inline-block;
}

.form-input textarea {
    height: 100px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

#edit-form button {
    background-color: rgb(59, 147, 187);
    display: block;
    margin: 0 auto;
    border: none;
    color: white;
    width: 80px;
    height: 30px;
    cursor: pointer;
}

#edit-form > div {
    display: none;
}

#edit-form > div.active {
    display: block;
}

.instructions-container {
    max-width: 700px;
    width: 90%;
    min-width: 500px
}

.instructions, th, td {
    border: 1px solid #000000;
    border-collapse: collapse;
    padding: 10px;
}

.instructions th{
    text-align: center;
}